@import './vars';

$media_queries : (
    'mobile'    : "only screen and (max-width: 375px)",
    'tablet'    : "only screen and (min-width: 375px) and (max-width: 900px)",
    'desktop'   : "only screen and (min-width: ($size__site_content_width + 1))",
    
);

@mixin for_breakpoint($breakpoints) {
    $conditions : ();
    @each $breakpoint in $breakpoints {
        // If the key exists in the map
        $conditions: append(
            $conditions,
            #{inspect(map-get($media_queries, $breakpoint))},
            comma
        );
    }

    @media #{$conditions} {
        @content;
    }

}