<link rel="stylesheet" href="navBar.css">

<div class="navBar">
    <h1 class="title-nav light">
        Notes
        <span class="semi-light">App</span>
    </h1>
    <ul class="nav-menu">
        <li>
            <a href="/contact" class="semi-light">Contact</a>
        </li>
        <li>
            <a href="/about" class="semi-light">About</a>
        </li>
        <li>
            <a href="/register" class="semi-light">Register</a>
        </li>
    </ul>
    <ul class="nav-utils">
        <li>
            <button class="btn-theme semi-dark-bg light" id="btn_theme">
                <% if(root === 'root_default.css') { %>
                    <ion-icon name="moon-outline"></ion-icon>
                <% } else { %>
                    <ion-icon name="sunny-outline"></ion-icon>
                <% } %>
            </button>
        </li>
        <li>
            <a href="/login" class="light-bg semi-dark">
                <ion-icon name="log-in-outline"></ion-icon>
            </a>
        </li>
    </ul>
    <button class="btn-menu-display" hidden>
        <ion-icon name="menu-outline"></ion-icon>
    </button>
</div>